<ion-header no-border>  
  <ion-navbar color="ecc">
    <main-header></main-header>
  </ion-navbar>
</ion-header>

<ion-content>
  <p padding>
    <img src="assets/icon/trofeo.png" id="trofeo">
    Recompensas para nuestros afiliados
  </p>

  <ion-slides [options]="homeSlideOptions" id="homeSlide">
    <ion-slide *ngFor="let prize of prizes">
      <ion-grid>
        <ion-row >
          <ion-col width-50 class="img_container">
            <img src="{{prize.imgSrc1}}" >
            <div class="footer_prize_text">{{prize.footerText1}}</div>
          </ion-col>
          <ion-col width-50 class="img_container">
            <img src="{{prize.imgSrc2}}">
            <div class="footer_prize_text">{{prize.footerText2}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <p padding>
    <img src="assets/icon/color_tags.png" id="color_tags">
    Las mejores ofertas de tu ciudad por tí
  </p>

  <ion-card *ngFor="let promo of promos">
    <div class="img_logo">
      <img src="{{promo['url-logo']}}" width="100%"/>
    </div>
    <div class="descuento_container">
      <img src="{{promo['url-img'][0]}}" />
      <div class="img_container">
        <img src="assets/img/descuento_image.png" />
        <div class="footer_anuncio_text">{{promo.title}}</div>
      </div>
      <div class="descuento">
        <div *ngIf="validNumber(promo.price) && validNumber(promo['old-price'])">
          <div class="descuento_primera_linea">dscto</div>
          <div class="descuento_segunda_linea">{{(100-promo.price/promo['old-price']*100).toFixed(0)}}%</div>
        </div>
        <div *ngIf="!validNumber(promo.price) || !validNumber(promo['old-price'])">
          Mejor
          Precio
        </div>

      </div>
    </div>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <ion-item>
            <h2  class="main_price">{{promo.moneda}} {{promo.price}}</h2>
            <p  class="old_price" *ngIf="!validNumber(promo.price) || !validNumber(promo['old-price'])">
              {{promo['old-price']}}
            </p>
            <p  class="old_price" *ngIf="validNumber(promo.price) && validNumber(promo['old-price'])">
                {{promo.moneda}} {{promo['old-price']}}
          </p>
        </ion-item>
      </ion-col>

      <ion-col center text-center>
        <button ion-button color="naranja" (click)="promoTapped($event, promo)" icon-left small>
                <ion-icon name="md-pricetags"></ion-icon>
          {{promo.cupones}} Cupones
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-card>
</ion-content>
