// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.main_menu{
  background-color: $ecc_color;
  ion-item, ion-item-divider{
    background-color: $ecc_color;
    color:white;
  }
  .item{
    .item-inner{
      border: 0;
    }
  }
  .list-ios[inset] .item {
    border-bottom: 0;
  }
  .main_menu_body{
    ion-icon{
      color:$ecc_icon_border_color;
    }
  }
  .main_menu_header{
    [icon-left] ion-icon {
      font-size: 2.2em;
    }
  }


  .list-md .item-block .item-inner{ 
    border-color: $ecc_icon_border_color;
  }
  .list-ios > .item-block:first-child, .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border: 0;
  }
  .item-md, .item-ios{
    font-size: 1.4rem;
  }
  .label-md,.label-ios{
    margin-top: 0;
    margin-bottom: 0;
  }
  .subcategory .item-md ion-icon[item-left],.subcategory .item-md ion-icon[item-right],
  .subcategory .item-ios ion-icon[item-left],.subcategory .item-ios ion-icon[item-right]{
    margin-top: 0;
    margin-bottom: 0;
  }
  .subcategory .item-block{
    min-height: 3.4rem
  }
  .item-divider-md,.item-divider-ios{
    border-bottom: 1px solid #dedede;
  }
}
