<ion-menu [content]="content">
  <ion-content class="main_menu">
    <ion-list class="main_menu_header" inset>
      <ion-item>
        <button ion-button  round padding icon-left block>
          <ion-icon name="logo-facebook"></ion-icon> Inicia sesión
        </button>
      </ion-item>
    </ion-list>

    <ion-item-group class="main_menu_body" *ngFor="let category of categories" >
                    <ion-item-divider (click)="toggleDetails(category)">
        <ion-icon name="{{category.icon}}" item-left></ion-icon>
        {{category.title}}
      </ion-item-divider>
                    <div *ngIf="category.showDetails && isShown(category)" class="subcategory">
        <ion-item  *ngFor="let detail of category.details" no-border>
          <ion-icon name="" item-left></ion-icon> {{detail}}
         
        </ion-item>
      </div>
    </ion-item-group>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content no-border></ion-nav>
