page-promo-detail {
  #map {
    height: 300px;
  }
  .bottom_bar
  {
    position: fixed;
    bottom: 2vh;
    width: 100%;
  }
}
ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}
